<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body{
        background-color: lightblue;
    }
</style>
<body>
<form action="regularPushUps" method="post">
<div id="header">Select the type of an exercise:</div>
    <input type="submit" name="Regular push ups" value="Regular push ups">
</form>

<form action="oneLegRaisedPushUps" method="post">
    <input type="submit" name="One leg raised push ups" value="One leg raised push ups">
</form>

<form action="declinePushUps" method="post">
    <input type="submit" name="Decline push ups" value="Decline push ups">
</form>

<form action="archerPushUps" method="post">
    <input type="submit" name="Archer push ups" value="Archer push ups">
</form>

<form action="narrowPushUps" method="post">
    <input type="submit" name="Narrow push ups" value="Narrow push ups">
</form>

<form action="diamondPushUps" method="post">
    <input type="submit" name="Diamond push ups" value="Diamond push ups">
</form>

<form action="barsPushUps" method="post">
    <input type="submit" name="Bars push ups" value="Bars push ups">
</form>

<form action="barPullUps" method="post">
    <input type="submit" name="Bar pull ups" value="Bar pull ups">
</form>

<form action="dumbbellForeamsSupported" method="post">
    <input type="submit" name="Dumbbell forearms supported" value="Dumbbell forearms supported">
</form>

<form action="dumbbellForearmsStanding" method="post">
    <input type="submit" name="Dumbbell forearms standing" value="Dumbbell forearms standing">
</form>

<form action="handGrips" method="post">
    <input type="submit" name="Hand grips" value="Hand grips">
</form>

<form action="hoodDumbbellRaises" method="post">
    <input type="submit" name="Hood dumbbell raises" value="Hood dumbbell raises">
</form>

<form action="shoulderDumbbellRaises" method="post">
    <input type="submit" name="Shoulder dumbbell raises" value="Shoulder dumbbell raises">
</form>

<form action="bicepsCurls" method="post">
    <input type="submit" name="Biceps curls" value="Biceps curls">
</form>

<form action="barsLegRaises" method="post">
    <input type="submit" name="Bars leg raises" value="Bars leg raises">
</form>

<form action="rollerRounds" method="post">
    <input type="submit" name="Roller rounds" value="Roller rounds">
</form>


</body>
</html>

<!--    <input type="text" name="exercisetype" placeholder="ExerciseType">-->
<!--    <input type="text" name="series" placeholder="Series">-->
<!--    <input type="text" name="repetitions" placeholder="Repetitions">-->
<!--    <input type="submit" value="Add record">-->
