<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="home" method="post">
<div id="header">Provide the necessary information below:</div>
    <input type="text" name="day" placeholder="Day">
    <input type="text" name="exercisetype" placeholder="ExerciseType">
    <input type="text" name="series" placeholder="Series">
    <input type="text" name="repetitions" placeholder="Repetitions">
    <input type="submit" value="Add record">
</form>
<form action="allrecords" method="post">
    <input type="submit" value="All records">
</form>
<form action="allpushups" method="post">
    <input type="submit" value="All pushups">
</form>
</body>
</html>
