<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body{
        background-color: aliceblue;
    }
</style>
<body>
<div id="header">Provide the number of repetitions for every serie:</div>
<div class="subheader">Please note that the number has to be an even one.</div>
<form action="finalResult" method="post">
    <input type="text" name="repetitions" placeholder="Number of repetitions">
    <input type="submit" value="Proceed">
</form>

</body>
</html>
